//- module

random()
  return math(0, 'random')

/*
//- swim
range = 10px
rrange = 30deg
N = 6

//- tremble
range = 3px
rrange = 10deg
N = 30
*/

tremble(name, dur, iterations, offset, degree, zoom)
  x0 = 0
  y0 = 0
  .{name}
    animation: unquote(name) dur linear infinite
  @keyframes {name}
    0%
      transform: translate(x0,y0) rotate(0deg) scale(1)
    for num in (1..(iterations - 1))
      {1% * num * 100/iterations}
        x = random() * offset - offset * 0.5
        y = random() * offset - offset * 0.5
        r = random() * degree - degree * 0.5
        s = 1 + random() * zoom - zoom * 0.5
        transform: translate(x,y) rotate(r) scale(s)
    100%
      transform: translate(x0,y0) rotate(0deg) scale(1)
