@-moz-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(-1.065733563357271px, -1.014350060188926px) rotate(2.736287449740877deg);
  }
  6.666666666666667% {
    transform: translate(0.403243317705178px, -0.036075125714162px) rotate(3.087135586286674deg);
  }
  10% {
    transform: translate(0.836312914956013px, 0.983568419875689px) rotate(0.900439680245999deg);
  }
  13.333333333333334% {
    transform: translate(-0.130800805051975px, -0.960594965666302px) rotate(4.477257979296256deg);
  }
  16.666666666666668% {
    transform: translate(-0.236360471809557px, -1.221462551544553px) rotate(4.312709863740011deg);
  }
  20% {
    transform: translate(0.312611918374404px, 1.213315390743775px) rotate(-4.705105169465753deg);
  }
  23.333333333333332% {
    transform: translate(0.794522300705522px, -1.363372103493222px) rotate(3.882892589129579deg);
  }
  26.666666666666668% {
    transform: translate(-0.771598640768897px, 0.602420288203932px) rotate(-3.194641712181354deg);
  }
  30% {
    transform: translate(-0.745103262092713px, 0.902431834214787px) rotate(0.334723017994123deg);
  }
  33.333333333333336% {
    transform: translate(1.398617810469713px, 0.292589274426778px) rotate(-3.630642302935314deg);
  }
  36.666666666666664% {
    transform: translate(0.741576347142994px, -1.162839719784613px) rotate(-4.850854146202672deg);
  }
  40% {
    transform: translate(1.047719131309759px, -1.139102955468197px) rotate(3.676755009349968deg);
  }
  43.333333333333336% {
    transform: translate(-1.212771750835237px, 0.873854958342082px) rotate(1.45102871013103deg);
  }
  46.666666666666664% {
    transform: translate(-0.290763427419455px, -1.117521513699334px) rotate(3.341208829485289deg);
  }
  50% {
    transform: translate(0.751307492027969px, -0.907068113518611px) rotate(-3.911470207601333deg);
  }
  53.333333333333336% {
    transform: translate(-0.028657913119498px, -0.141749342009126px) rotate(-1.860298203435167deg);
  }
  56.666666666666664% {
    transform: translate(0.845079071682944px, -1.275128656396014px) rotate(-0.25947489380396deg);
  }
  60% {
    transform: translate(0.497486024532826px, -0.160947827723237px) rotate(2.72518756390375deg);
  }
  63.333333333333336% {
    transform: translate(0.2386880813529px, -0.82010163072722px) rotate(-0.135737247027277deg);
  }
  66.66666666666667% {
    transform: translate(0.833808493740632px, -1.409261108843697px) rotate(2.355995880515948deg);
  }
  70% {
    transform: translate(-0.365940501592274px, -1.389349807647505px) rotate(-2.172611210625877deg);
  }
  73.33333333333333% {
    transform: translate(0.86286110861889px, -0.765982139597543px) rotate(0.668092798802025deg);
  }
  76.66666666666667% {
    transform: translate(0.565522907240081px, -0.9731479538699px) rotate(0.741026493996822deg);
  }
  80% {
    transform: translate(-1.141249793106861px, -1.006893884079243px) rotate(-2.641274390967265deg);
  }
  83.33333333333333% {
    transform: translate(0.166544981786737px, -1.087488045439186px) rotate(-4.483901916556872deg);
  }
  86.66666666666667% {
    transform: translate(-0.062984502976435px, -0.249730825452107px) rotate(-1.407727715538445deg);
  }
  90% {
    transform: translate(-0.826080441462967px, 0.193215895592039px) rotate(-4.295402434014721deg);
  }
  93.33333333333333% {
    transform: translate(0.775920063827074px, 1.038227792949939px) rotate(0.541453896539236deg);
  }
  96.66666666666667% {
    transform: translate(-0.580725959142929px, 0.959469281249066px) rotate(0.038247097055654deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@-webkit-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(-1.065733563357271px, -1.014350060188926px) rotate(2.736287449740877deg);
  }
  6.666666666666667% {
    transform: translate(0.403243317705178px, -0.036075125714162px) rotate(3.087135586286674deg);
  }
  10% {
    transform: translate(0.836312914956013px, 0.983568419875689px) rotate(0.900439680245999deg);
  }
  13.333333333333334% {
    transform: translate(-0.130800805051975px, -0.960594965666302px) rotate(4.477257979296256deg);
  }
  16.666666666666668% {
    transform: translate(-0.236360471809557px, -1.221462551544553px) rotate(4.312709863740011deg);
  }
  20% {
    transform: translate(0.312611918374404px, 1.213315390743775px) rotate(-4.705105169465753deg);
  }
  23.333333333333332% {
    transform: translate(0.794522300705522px, -1.363372103493222px) rotate(3.882892589129579deg);
  }
  26.666666666666668% {
    transform: translate(-0.771598640768897px, 0.602420288203932px) rotate(-3.194641712181354deg);
  }
  30% {
    transform: translate(-0.745103262092713px, 0.902431834214787px) rotate(0.334723017994123deg);
  }
  33.333333333333336% {
    transform: translate(1.398617810469713px, 0.292589274426778px) rotate(-3.630642302935314deg);
  }
  36.666666666666664% {
    transform: translate(0.741576347142994px, -1.162839719784613px) rotate(-4.850854146202672deg);
  }
  40% {
    transform: translate(1.047719131309759px, -1.139102955468197px) rotate(3.676755009349968deg);
  }
  43.333333333333336% {
    transform: translate(-1.212771750835237px, 0.873854958342082px) rotate(1.45102871013103deg);
  }
  46.666666666666664% {
    transform: translate(-0.290763427419455px, -1.117521513699334px) rotate(3.341208829485289deg);
  }
  50% {
    transform: translate(0.751307492027969px, -0.907068113518611px) rotate(-3.911470207601333deg);
  }
  53.333333333333336% {
    transform: translate(-0.028657913119498px, -0.141749342009126px) rotate(-1.860298203435167deg);
  }
  56.666666666666664% {
    transform: translate(0.845079071682944px, -1.275128656396014px) rotate(-0.25947489380396deg);
  }
  60% {
    transform: translate(0.497486024532826px, -0.160947827723237px) rotate(2.72518756390375deg);
  }
  63.333333333333336% {
    transform: translate(0.2386880813529px, -0.82010163072722px) rotate(-0.135737247027277deg);
  }
  66.66666666666667% {
    transform: translate(0.833808493740632px, -1.409261108843697px) rotate(2.355995880515948deg);
  }
  70% {
    transform: translate(-0.365940501592274px, -1.389349807647505px) rotate(-2.172611210625877deg);
  }
  73.33333333333333% {
    transform: translate(0.86286110861889px, -0.765982139597543px) rotate(0.668092798802025deg);
  }
  76.66666666666667% {
    transform: translate(0.565522907240081px, -0.9731479538699px) rotate(0.741026493996822deg);
  }
  80% {
    transform: translate(-1.141249793106861px, -1.006893884079243px) rotate(-2.641274390967265deg);
  }
  83.33333333333333% {
    transform: translate(0.166544981786737px, -1.087488045439186px) rotate(-4.483901916556872deg);
  }
  86.66666666666667% {
    transform: translate(-0.062984502976435px, -0.249730825452107px) rotate(-1.407727715538445deg);
  }
  90% {
    transform: translate(-0.826080441462967px, 0.193215895592039px) rotate(-4.295402434014721deg);
  }
  93.33333333333333% {
    transform: translate(0.775920063827074px, 1.038227792949939px) rotate(0.541453896539236deg);
  }
  96.66666666666667% {
    transform: translate(-0.580725959142929px, 0.959469281249066px) rotate(0.038247097055654deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@-o-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(-1.065733563357271px, -1.014350060188926px) rotate(2.736287449740877deg);
  }
  6.666666666666667% {
    transform: translate(0.403243317705178px, -0.036075125714162px) rotate(3.087135586286674deg);
  }
  10% {
    transform: translate(0.836312914956013px, 0.983568419875689px) rotate(0.900439680245999deg);
  }
  13.333333333333334% {
    transform: translate(-0.130800805051975px, -0.960594965666302px) rotate(4.477257979296256deg);
  }
  16.666666666666668% {
    transform: translate(-0.236360471809557px, -1.221462551544553px) rotate(4.312709863740011deg);
  }
  20% {
    transform: translate(0.312611918374404px, 1.213315390743775px) rotate(-4.705105169465753deg);
  }
  23.333333333333332% {
    transform: translate(0.794522300705522px, -1.363372103493222px) rotate(3.882892589129579deg);
  }
  26.666666666666668% {
    transform: translate(-0.771598640768897px, 0.602420288203932px) rotate(-3.194641712181354deg);
  }
  30% {
    transform: translate(-0.745103262092713px, 0.902431834214787px) rotate(0.334723017994123deg);
  }
  33.333333333333336% {
    transform: translate(1.398617810469713px, 0.292589274426778px) rotate(-3.630642302935314deg);
  }
  36.666666666666664% {
    transform: translate(0.741576347142994px, -1.162839719784613px) rotate(-4.850854146202672deg);
  }
  40% {
    transform: translate(1.047719131309759px, -1.139102955468197px) rotate(3.676755009349968deg);
  }
  43.333333333333336% {
    transform: translate(-1.212771750835237px, 0.873854958342082px) rotate(1.45102871013103deg);
  }
  46.666666666666664% {
    transform: translate(-0.290763427419455px, -1.117521513699334px) rotate(3.341208829485289deg);
  }
  50% {
    transform: translate(0.751307492027969px, -0.907068113518611px) rotate(-3.911470207601333deg);
  }
  53.333333333333336% {
    transform: translate(-0.028657913119498px, -0.141749342009126px) rotate(-1.860298203435167deg);
  }
  56.666666666666664% {
    transform: translate(0.845079071682944px, -1.275128656396014px) rotate(-0.25947489380396deg);
  }
  60% {
    transform: translate(0.497486024532826px, -0.160947827723237px) rotate(2.72518756390375deg);
  }
  63.333333333333336% {
    transform: translate(0.2386880813529px, -0.82010163072722px) rotate(-0.135737247027277deg);
  }
  66.66666666666667% {
    transform: translate(0.833808493740632px, -1.409261108843697px) rotate(2.355995880515948deg);
  }
  70% {
    transform: translate(-0.365940501592274px, -1.389349807647505px) rotate(-2.172611210625877deg);
  }
  73.33333333333333% {
    transform: translate(0.86286110861889px, -0.765982139597543px) rotate(0.668092798802025deg);
  }
  76.66666666666667% {
    transform: translate(0.565522907240081px, -0.9731479538699px) rotate(0.741026493996822deg);
  }
  80% {
    transform: translate(-1.141249793106861px, -1.006893884079243px) rotate(-2.641274390967265deg);
  }
  83.33333333333333% {
    transform: translate(0.166544981786737px, -1.087488045439186px) rotate(-4.483901916556872deg);
  }
  86.66666666666667% {
    transform: translate(-0.062984502976435px, -0.249730825452107px) rotate(-1.407727715538445deg);
  }
  90% {
    transform: translate(-0.826080441462967px, 0.193215895592039px) rotate(-4.295402434014721deg);
  }
  93.33333333333333% {
    transform: translate(0.775920063827074px, 1.038227792949939px) rotate(0.541453896539236deg);
  }
  96.66666666666667% {
    transform: translate(-0.580725959142929px, 0.959469281249066px) rotate(0.038247097055654deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(-1.065733563357271px, -1.014350060188926px) rotate(2.736287449740877deg);
  }
  6.666666666666667% {
    transform: translate(0.403243317705178px, -0.036075125714162px) rotate(3.087135586286674deg);
  }
  10% {
    transform: translate(0.836312914956013px, 0.983568419875689px) rotate(0.900439680245999deg);
  }
  13.333333333333334% {
    transform: translate(-0.130800805051975px, -0.960594965666302px) rotate(4.477257979296256deg);
  }
  16.666666666666668% {
    transform: translate(-0.236360471809557px, -1.221462551544553px) rotate(4.312709863740011deg);
  }
  20% {
    transform: translate(0.312611918374404px, 1.213315390743775px) rotate(-4.705105169465753deg);
  }
  23.333333333333332% {
    transform: translate(0.794522300705522px, -1.363372103493222px) rotate(3.882892589129579deg);
  }
  26.666666666666668% {
    transform: translate(-0.771598640768897px, 0.602420288203932px) rotate(-3.194641712181354deg);
  }
  30% {
    transform: translate(-0.745103262092713px, 0.902431834214787px) rotate(0.334723017994123deg);
  }
  33.333333333333336% {
    transform: translate(1.398617810469713px, 0.292589274426778px) rotate(-3.630642302935314deg);
  }
  36.666666666666664% {
    transform: translate(0.741576347142994px, -1.162839719784613px) rotate(-4.850854146202672deg);
  }
  40% {
    transform: translate(1.047719131309759px, -1.139102955468197px) rotate(3.676755009349968deg);
  }
  43.333333333333336% {
    transform: translate(-1.212771750835237px, 0.873854958342082px) rotate(1.45102871013103deg);
  }
  46.666666666666664% {
    transform: translate(-0.290763427419455px, -1.117521513699334px) rotate(3.341208829485289deg);
  }
  50% {
    transform: translate(0.751307492027969px, -0.907068113518611px) rotate(-3.911470207601333deg);
  }
  53.333333333333336% {
    transform: translate(-0.028657913119498px, -0.141749342009126px) rotate(-1.860298203435167deg);
  }
  56.666666666666664% {
    transform: translate(0.845079071682944px, -1.275128656396014px) rotate(-0.25947489380396deg);
  }
  60% {
    transform: translate(0.497486024532826px, -0.160947827723237px) rotate(2.72518756390375deg);
  }
  63.333333333333336% {
    transform: translate(0.2386880813529px, -0.82010163072722px) rotate(-0.135737247027277deg);
  }
  66.66666666666667% {
    transform: translate(0.833808493740632px, -1.409261108843697px) rotate(2.355995880515948deg);
  }
  70% {
    transform: translate(-0.365940501592274px, -1.389349807647505px) rotate(-2.172611210625877deg);
  }
  73.33333333333333% {
    transform: translate(0.86286110861889px, -0.765982139597543px) rotate(0.668092798802025deg);
  }
  76.66666666666667% {
    transform: translate(0.565522907240081px, -0.9731479538699px) rotate(0.741026493996822deg);
  }
  80% {
    transform: translate(-1.141249793106861px, -1.006893884079243px) rotate(-2.641274390967265deg);
  }
  83.33333333333333% {
    transform: translate(0.166544981786737px, -1.087488045439186px) rotate(-4.483901916556872deg);
  }
  86.66666666666667% {
    transform: translate(-0.062984502976435px, -0.249730825452107px) rotate(-1.407727715538445deg);
  }
  90% {
    transform: translate(-0.826080441462967px, 0.193215895592039px) rotate(-4.295402434014721deg);
  }
  93.33333333333333% {
    transform: translate(0.775920063827074px, 1.038227792949939px) rotate(0.541453896539236deg);
  }
  96.66666666666667% {
    transform: translate(-0.580725959142929px, 0.959469281249066px) rotate(0.038247097055654deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
