@-moz-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(0.773974992434644px, -0.198386743093478px) rotate(2.132180704304432deg);
  }
  6.666666666666667% {
    transform: translate(-0.510627037523084px, -1.261379076726742px) rotate(1.147453665723502deg);
  }
  10% {
    transform: translate(0.096069934883752px, 0.664406073726112px) rotate(-1.854888929703218deg);
  }
  13.333333333333334% {
    transform: translate(1.065718831468979px, -1.265193267994505px) rotate(3.650159439628604deg);
  }
  16.666666666666668% {
    transform: translate(0.158297971952328px, -0.415603935274496px) rotate(-3.689789580496092deg);
  }
  20% {
    transform: translate(0.167783678699504px, 0.129384359752503px) rotate(1.330857771927154deg);
  }
  23.333333333333332% {
    transform: translate(-0.147878621176418px, -1.148533753300648px) rotate(2.032383719735085deg);
  }
  26.666666666666668% {
    transform: translate(-1.283929284878222px, 0.040220213048925px) rotate(4.875625946027728deg);
  }
  30% {
    transform: translate(-0.028183218976743px, -0.812579792254639px) rotate(2.291581589062917deg);
  }
  33.333333333333336% {
    transform: translate(-0.762077184569025px, 0.085765239325858px) rotate(-4.097772778457182deg);
  }
  36.666666666666664% {
    transform: translate(-0.676505434520083px, 0.288043283398786px) rotate(0.496713227606797deg);
  }
  40% {
    transform: translate(-0.438250606908751px, 0.638694359197206px) rotate(-4.885824428317904deg);
  }
  43.333333333333336% {
    transform: translate(1.183530221070108px, -1.403504443729642px) rotate(0.854119732234619deg);
  }
  46.666666666666664% {
    transform: translate(-0.542343129241263px, -1.358019479930596px) rotate(-0.036212484008105deg);
  }
  50% {
    transform: translate(1.217320756074868px, 0.648518604523207px) rotate(1.043911936340813deg);
  }
  53.333333333333336% {
    transform: translate(0.600453546383638px, 0.409222063025763px) rotate(-2.070518381293749deg);
  }
  56.666666666666664% {
    transform: translate(1.250462022638972px, 1.395603494279012px) rotate(-0.854701586476594deg);
  }
  60% {
    transform: translate(0.707385516734576px, -1.037380511691272px) rotate(0.408802201974865deg);
  }
  63.333333333333336% {
    transform: translate(1.107960612618989px, -0.03425535032261px) rotate(2.790105248964245deg);
  }
  66.66666666666667% {
    transform: translate(-0.816098547912361px, 1.207472766588501px) rotate(3.837125250737081deg);
  }
  70% {
    transform: translate(-1.422356418449711px, -1.085662002969125px) rotate(3.6223694688324deg);
  }
  73.33333333333333% {
    transform: translate(-0.213296314630586px, -0.207859350860768px) rotate(-1.766502199951663deg);
  }
  76.66666666666667% {
    transform: translate(0.593474970023478px, -0.953420503094287px) rotate(-1.668114629832713deg);
  }
  80% {
    transform: translate(-0.943422298981699px, -1.023636607813315px) rotate(-3.607139367881755deg);
  }
  83.33333333333333% {
    transform: translate(1.10927138391875px, 1.420334192798825px) rotate(-3.637664243958445deg);
  }
  86.66666666666667% {
    transform: translate(0.237932627714819px, -1.11555624175904px) rotate(2.610492458986609deg);
  }
  90% {
    transform: translate(0.935062874123518px, 0.913930980061322px) rotate(-2.317400322302192deg);
  }
  93.33333333333333% {
    transform: translate(0.514656618042187px, -1.414007257999679px) rotate(3.44186486986726deg);
  }
  96.66666666666667% {
    transform: translate(-0.384510593872092px, 1.236034645468042px) rotate(-3.795662925541947deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@-webkit-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(0.773974992434644px, -0.198386743093478px) rotate(2.132180704304432deg);
  }
  6.666666666666667% {
    transform: translate(-0.510627037523084px, -1.261379076726742px) rotate(1.147453665723502deg);
  }
  10% {
    transform: translate(0.096069934883752px, 0.664406073726112px) rotate(-1.854888929703218deg);
  }
  13.333333333333334% {
    transform: translate(1.065718831468979px, -1.265193267994505px) rotate(3.650159439628604deg);
  }
  16.666666666666668% {
    transform: translate(0.158297971952328px, -0.415603935274496px) rotate(-3.689789580496092deg);
  }
  20% {
    transform: translate(0.167783678699504px, 0.129384359752503px) rotate(1.330857771927154deg);
  }
  23.333333333333332% {
    transform: translate(-0.147878621176418px, -1.148533753300648px) rotate(2.032383719735085deg);
  }
  26.666666666666668% {
    transform: translate(-1.283929284878222px, 0.040220213048925px) rotate(4.875625946027728deg);
  }
  30% {
    transform: translate(-0.028183218976743px, -0.812579792254639px) rotate(2.291581589062917deg);
  }
  33.333333333333336% {
    transform: translate(-0.762077184569025px, 0.085765239325858px) rotate(-4.097772778457182deg);
  }
  36.666666666666664% {
    transform: translate(-0.676505434520083px, 0.288043283398786px) rotate(0.496713227606797deg);
  }
  40% {
    transform: translate(-0.438250606908751px, 0.638694359197206px) rotate(-4.885824428317904deg);
  }
  43.333333333333336% {
    transform: translate(1.183530221070108px, -1.403504443729642px) rotate(0.854119732234619deg);
  }
  46.666666666666664% {
    transform: translate(-0.542343129241263px, -1.358019479930596px) rotate(-0.036212484008105deg);
  }
  50% {
    transform: translate(1.217320756074868px, 0.648518604523207px) rotate(1.043911936340813deg);
  }
  53.333333333333336% {
    transform: translate(0.600453546383638px, 0.409222063025763px) rotate(-2.070518381293749deg);
  }
  56.666666666666664% {
    transform: translate(1.250462022638972px, 1.395603494279012px) rotate(-0.854701586476594deg);
  }
  60% {
    transform: translate(0.707385516734576px, -1.037380511691272px) rotate(0.408802201974865deg);
  }
  63.333333333333336% {
    transform: translate(1.107960612618989px, -0.03425535032261px) rotate(2.790105248964245deg);
  }
  66.66666666666667% {
    transform: translate(-0.816098547912361px, 1.207472766588501px) rotate(3.837125250737081deg);
  }
  70% {
    transform: translate(-1.422356418449711px, -1.085662002969125px) rotate(3.6223694688324deg);
  }
  73.33333333333333% {
    transform: translate(-0.213296314630586px, -0.207859350860768px) rotate(-1.766502199951663deg);
  }
  76.66666666666667% {
    transform: translate(0.593474970023478px, -0.953420503094287px) rotate(-1.668114629832713deg);
  }
  80% {
    transform: translate(-0.943422298981699px, -1.023636607813315px) rotate(-3.607139367881755deg);
  }
  83.33333333333333% {
    transform: translate(1.10927138391875px, 1.420334192798825px) rotate(-3.637664243958445deg);
  }
  86.66666666666667% {
    transform: translate(0.237932627714819px, -1.11555624175904px) rotate(2.610492458986609deg);
  }
  90% {
    transform: translate(0.935062874123518px, 0.913930980061322px) rotate(-2.317400322302192deg);
  }
  93.33333333333333% {
    transform: translate(0.514656618042187px, -1.414007257999679px) rotate(3.44186486986726deg);
  }
  96.66666666666667% {
    transform: translate(-0.384510593872092px, 1.236034645468042px) rotate(-3.795662925541947deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@-o-keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(0.773974992434644px, -0.198386743093478px) rotate(2.132180704304432deg);
  }
  6.666666666666667% {
    transform: translate(-0.510627037523084px, -1.261379076726742px) rotate(1.147453665723502deg);
  }
  10% {
    transform: translate(0.096069934883752px, 0.664406073726112px) rotate(-1.854888929703218deg);
  }
  13.333333333333334% {
    transform: translate(1.065718831468979px, -1.265193267994505px) rotate(3.650159439628604deg);
  }
  16.666666666666668% {
    transform: translate(0.158297971952328px, -0.415603935274496px) rotate(-3.689789580496092deg);
  }
  20% {
    transform: translate(0.167783678699504px, 0.129384359752503px) rotate(1.330857771927154deg);
  }
  23.333333333333332% {
    transform: translate(-0.147878621176418px, -1.148533753300648px) rotate(2.032383719735085deg);
  }
  26.666666666666668% {
    transform: translate(-1.283929284878222px, 0.040220213048925px) rotate(4.875625946027728deg);
  }
  30% {
    transform: translate(-0.028183218976743px, -0.812579792254639px) rotate(2.291581589062917deg);
  }
  33.333333333333336% {
    transform: translate(-0.762077184569025px, 0.085765239325858px) rotate(-4.097772778457182deg);
  }
  36.666666666666664% {
    transform: translate(-0.676505434520083px, 0.288043283398786px) rotate(0.496713227606797deg);
  }
  40% {
    transform: translate(-0.438250606908751px, 0.638694359197206px) rotate(-4.885824428317904deg);
  }
  43.333333333333336% {
    transform: translate(1.183530221070108px, -1.403504443729642px) rotate(0.854119732234619deg);
  }
  46.666666666666664% {
    transform: translate(-0.542343129241263px, -1.358019479930596px) rotate(-0.036212484008105deg);
  }
  50% {
    transform: translate(1.217320756074868px, 0.648518604523207px) rotate(1.043911936340813deg);
  }
  53.333333333333336% {
    transform: translate(0.600453546383638px, 0.409222063025763px) rotate(-2.070518381293749deg);
  }
  56.666666666666664% {
    transform: translate(1.250462022638972px, 1.395603494279012px) rotate(-0.854701586476594deg);
  }
  60% {
    transform: translate(0.707385516734576px, -1.037380511691272px) rotate(0.408802201974865deg);
  }
  63.333333333333336% {
    transform: translate(1.107960612618989px, -0.03425535032261px) rotate(2.790105248964245deg);
  }
  66.66666666666667% {
    transform: translate(-0.816098547912361px, 1.207472766588501px) rotate(3.837125250737081deg);
  }
  70% {
    transform: translate(-1.422356418449711px, -1.085662002969125px) rotate(3.6223694688324deg);
  }
  73.33333333333333% {
    transform: translate(-0.213296314630586px, -0.207859350860768px) rotate(-1.766502199951663deg);
  }
  76.66666666666667% {
    transform: translate(0.593474970023478px, -0.953420503094287px) rotate(-1.668114629832713deg);
  }
  80% {
    transform: translate(-0.943422298981699px, -1.023636607813315px) rotate(-3.607139367881755deg);
  }
  83.33333333333333% {
    transform: translate(1.10927138391875px, 1.420334192798825px) rotate(-3.637664243958445deg);
  }
  86.66666666666667% {
    transform: translate(0.237932627714819px, -1.11555624175904px) rotate(2.610492458986609deg);
  }
  90% {
    transform: translate(0.935062874123518px, 0.913930980061322px) rotate(-2.317400322302192deg);
  }
  93.33333333333333% {
    transform: translate(0.514656618042187px, -1.414007257999679px) rotate(3.44186486986726deg);
  }
  96.66666666666667% {
    transform: translate(-0.384510593872092px, 1.236034645468042px) rotate(-3.795662925541947deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3.3333333333333335% {
    transform: translate(0.773974992434644px, -0.198386743093478px) rotate(2.132180704304432deg);
  }
  6.666666666666667% {
    transform: translate(-0.510627037523084px, -1.261379076726742px) rotate(1.147453665723502deg);
  }
  10% {
    transform: translate(0.096069934883752px, 0.664406073726112px) rotate(-1.854888929703218deg);
  }
  13.333333333333334% {
    transform: translate(1.065718831468979px, -1.265193267994505px) rotate(3.650159439628604deg);
  }
  16.666666666666668% {
    transform: translate(0.158297971952328px, -0.415603935274496px) rotate(-3.689789580496092deg);
  }
  20% {
    transform: translate(0.167783678699504px, 0.129384359752503px) rotate(1.330857771927154deg);
  }
  23.333333333333332% {
    transform: translate(-0.147878621176418px, -1.148533753300648px) rotate(2.032383719735085deg);
  }
  26.666666666666668% {
    transform: translate(-1.283929284878222px, 0.040220213048925px) rotate(4.875625946027728deg);
  }
  30% {
    transform: translate(-0.028183218976743px, -0.812579792254639px) rotate(2.291581589062917deg);
  }
  33.333333333333336% {
    transform: translate(-0.762077184569025px, 0.085765239325858px) rotate(-4.097772778457182deg);
  }
  36.666666666666664% {
    transform: translate(-0.676505434520083px, 0.288043283398786px) rotate(0.496713227606797deg);
  }
  40% {
    transform: translate(-0.438250606908751px, 0.638694359197206px) rotate(-4.885824428317904deg);
  }
  43.333333333333336% {
    transform: translate(1.183530221070108px, -1.403504443729642px) rotate(0.854119732234619deg);
  }
  46.666666666666664% {
    transform: translate(-0.542343129241263px, -1.358019479930596px) rotate(-0.036212484008105deg);
  }
  50% {
    transform: translate(1.217320756074868px, 0.648518604523207px) rotate(1.043911936340813deg);
  }
  53.333333333333336% {
    transform: translate(0.600453546383638px, 0.409222063025763px) rotate(-2.070518381293749deg);
  }
  56.666666666666664% {
    transform: translate(1.250462022638972px, 1.395603494279012px) rotate(-0.854701586476594deg);
  }
  60% {
    transform: translate(0.707385516734576px, -1.037380511691272px) rotate(0.408802201974865deg);
  }
  63.333333333333336% {
    transform: translate(1.107960612618989px, -0.03425535032261px) rotate(2.790105248964245deg);
  }
  66.66666666666667% {
    transform: translate(-0.816098547912361px, 1.207472766588501px) rotate(3.837125250737081deg);
  }
  70% {
    transform: translate(-1.422356418449711px, -1.085662002969125px) rotate(3.6223694688324deg);
  }
  73.33333333333333% {
    transform: translate(-0.213296314630586px, -0.207859350860768px) rotate(-1.766502199951663deg);
  }
  76.66666666666667% {
    transform: translate(0.593474970023478px, -0.953420503094287px) rotate(-1.668114629832713deg);
  }
  80% {
    transform: translate(-0.943422298981699px, -1.023636607813315px) rotate(-3.607139367881755deg);
  }
  83.33333333333333% {
    transform: translate(1.10927138391875px, 1.420334192798825px) rotate(-3.637664243958445deg);
  }
  86.66666666666667% {
    transform: translate(0.237932627714819px, -1.11555624175904px) rotate(2.610492458986609deg);
  }
  90% {
    transform: translate(0.935062874123518px, 0.913930980061322px) rotate(-2.317400322302192deg);
  }
  93.33333333333333% {
    transform: translate(0.514656618042187px, -1.414007257999679px) rotate(3.44186486986726deg);
  }
  96.66666666666667% {
    transform: translate(-0.384510593872092px, 1.236034645468042px) rotate(-3.795662925541947deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
