
random()
  return math(0, 'random')

//- swim
range = 10px
rrange = 30deg
N = 6

//- tremble
range = 3px
rrange = 10deg
N = 30

x0 = 0
y0 = 0
@keyframes tremble
  0%
    transform: translate(x0,y0) rotate(0deg)
  for num in (1..(N - 1))
    {1% * num * 100/N}
      x = random() * range - range * 0.5
      y = random() * range - range * 0.5
      r = random() * rrange - rrange * 0.5
      transform: translate(x,y) rotate(r)
  100%
    transform: translate(x0,y0) rotate(0deg)
