@import '../basic.styl'

@import 'ctrl.styl'
@import 'shape.styl'


@import 'entries/blink.styl'
@import 'entries/blur.styl'
@import 'entries/breath.styl'
@import 'entries/broadcast.styl'
@import 'entries/clock.styl'
@import 'entries/cycle.styl'
@import 'entries/fade.styl'
@import 'entries/flip.styl'
@import 'entries/flip-v.styl'
@import 'entries/flip-h.styl'
@import 'entries/coin-v.styl'
@import 'entries/coin-h.styl'
@import 'entries/heartbeat.styl'
@import 'entries/radio.styl'
@import 'entries/rotate.styl'
@import 'entries/rubber.styl'
@import 'entries/shadow.styl'
@import 'entries/shadow-a.styl'
@import 'entries/skew.styl'
@import 'entries/spin.styl'
@import 'entries/spin-fast.styl'
@import 'entries/squeeze.styl'
@import 'entries/surprise.styl'
@import 'entries/tick.styl'
@import 'entries/vortex-in.styl'
@import 'entries/vortex-out.styl'
@import 'entries/wrench.styl'
@import 'entries/pulse.styl'

// with translation percentage
@import 'entries/bounce.styl'
@import 'entries/bounce-rtl.styl'
@import 'entries/bounce-ltr.styl'
@import 'entries/bounce-a.styl'
@import 'entries/float.styl'
@import 'entries/hit.styl'
@import 'entries/jelly.styl'
@import 'entries/jump.styl'
@import 'entries/orbit.styl'
@import 'entries/rush-rtl.styl'
@import 'entries/rush-ltr.styl'
@import 'entries/shake.styl'
@import 'entries/slide-ltr.styl'
@import 'entries/slide-rtl.styl'
@import 'entries/slide-btt.styl'
@import 'entries/slide-ttb.styl'
@import 'entries/tremble.styl'
@import 'entries/wander-h.styl'
@import 'entries/wander-v.styl'
@import 'entries/jingle.styl'
@import 'entries/swim.styl'
@import 'entries/leaf.styl'
@import 'entries/slot.styl'

// px patched for percentage
@import 'entries/bounce-px.styl'
@import 'entries/bounce-px-rtl.styl'
@import 'entries/bounce-px-ltr.styl'
@import 'entries/bounce-a-px.styl'
@import 'entries/float-px.styl'
@import 'entries/hit-px.styl'
@import 'entries/jelly-px.styl'
@import 'entries/jump-px.styl'
@import 'entries/orbit-px.styl'
@import 'entries/rush-px-rtl.styl'
@import 'entries/rush-px-ltr.styl'
@import 'entries/shake-px.styl'
@import 'entries/slide-px-ltr.styl'
@import 'entries/slide-px-rtl.styl'
@import 'entries/slide-px-btt.styl'
@import 'entries/slide-px-ttb.styl'
@import 'entries/tremble-px.styl'
@import 'entries/wander-px-h.styl'
@import 'entries/wander-px-v.styl'
@import 'entries/jingle-px.styl'
@import 'entries/swim-px.styl'
@import 'entries/leaf-px.styl'
