
+keyframes(ld-jump)
  0%, 28%, 48%, 64%, 76%, 86%, 93%, 100%
    animation-timing-function: ease-out
  14%, 38%, 56%, 70%, 81%, 90%, 97%
    animation-timing-function: ease-in
  0%
    transform: translateY(0%)
  14%
    transform: translateY(-27%)
  28%
    transform: translateY(0%)
  38%
    transform: translateY(-20%)
  48%
    transform: translateY(0%)
  56%
    transform: translateY(-16%)
  64%
    transform: translateY(0%)
  70%
    transform: translateY(-12%)
  76%
    transform: translateY(0%)
  81%
    transform: translateY(-7.5%)
  86%
    transform: translateY(0%)
  90%
    transform: translateY(-3%)
  93%
    transform: translateY(0%)
  97%
    transform: translateY(-1.5%)
  100%
    transform: translateY(0%)
.ld.ld-jump
  animation(ld-jump 1.5s ease-in infinite)

+keyframes(ld-bounce)
  0%, 90%
    animation-timing-function: linear
  10%
    animation-timing-function: cubic-bezier(0,.4,.6,1)
  50%
    animation-timing-function: cubic-bezier(.4,0,1,.6)
  0%
    transform: translate(0%,30%) scaleY(.5)
  10%
    transform: translate(0%,5%) scaleY(1.1)
  50%
    transform: translate(0%,-37%) scaleY(1.1)
  90%
    transform: translate(0%,5%) scaleY(1.1)
  100%
    transform: translate(0%,30%) scaleY(.5)
.ld.ld-bounce
  animation(ld-bounce 1s infinite)


+keyframes(ld-bounce-rtl)
  0%
    transform: translate(160%, -40%)
  12.5%
    transform: translate(120%, -23%)
  25%
    transform: translate(80%, 0%)
  37.5%
    transform: translate(50%, -23%)
  50%
    transform: translate(0%, -40%)
  62.5%
    transform: translate(-50%, -23%)
  75%
    transform: translate(-80%, 0%)
  87.5%
    transform: translate(-120%, -23%)
  100%
    transform: translate(-160%, -40%)

.ld.ld-bounce-rtl
  animation(ld-bounce-rtl 1s infinite linear)

+keyframes(ld-bounce-ltr)
  0%
    transform: translate(-160%, -40%)
  12.5%
    transform: translate(-120%, -23%)
  25%
    transform: translate(-100%, 0%)
  37.5%
    transform: translate(-50%, -23%)
  50%
    transform: translate(0%, -40%)
  62.5%
    transform: translate(50%, -23%)
  75%
    transform: translate(100%, 0%)
  87.5%
    transform: translate(120%, -23%)
  100%
    transform: translate(160%, -40%)

.ld.ld-bounce-ltr
  animation(ld-bounce-ltr 1s infinite linear)


+keyframes(ld-bounce-a)
  0%, 25%, 50%, 75%, 100%
    animation-timing-function: cubic-bezier(0,.4,.6,1)
  12.5%, 37.5%, 62.5%, 87.5%
    animation-timing-function: cubic-bezier(.4,0,1,.6)
  0%
    transform: translate(0%,0%)
  12.5%
    transform: translate(5%,-28%)
  25%
    transform: translate(10%,0%)
  37.5%
    transform: translate(5%,-28%)
  50%
    transform: translate(0%,0%)
  62.5%
    transform: translate(-5%,-28%)
  75%
    transform: translate(-10%,0%)
  87.5%
    transform: translate(-5%,-28%)
  100%
    transform: translate(0%,0%)

.ld.ld-bounce-a
  animation(ld-bounce-a 2s infinite)

