+keyframes(ld-slide-rtl)
  0%, 100%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  50%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: translate(0,0)
  49.9%
    transform: translate(-200%,0)
  50%
    transform: translate(200%,0)
  100%
    transform: translate(0,0)
.ld.ld-slide-rtl
  animation(ld-slide-rtl 1s infinite)


+keyframes(ld-slide-ltr)
  0%, 100%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  50%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: translate(0,0)
  49.9%
    transform: translate(200%,0)
  50%
    transform: translate(-200%,0)
  100%
    transform: translate(0,0)

.ld.ld-slide-ltr
  animation(ld-slide-ltr 1s infinite)

+keyframes(ld-slide-btt)
  0%, 100%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  50%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: translate(0,0)
  49.9%
    transform: translate(0,-200%)
  50%
    transform: translate(0,200%)
  100%
    transform: translate(0,0)

.ld.ld-slide-btt
  animation(ld-slide-btt 1s infinite)


+keyframes(ld-slide-ttb)
  0%, 100%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  50%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: translate(0,0)
  49.9%
    transform: translate(0,200%)
  50%
    transform: translate(0,-200%)
  100%
    transform: translate(0,0)

.ld.ld-slide-ttb
  animation(ld-slide-ttb 1s infinite)

