//- module

rubber(name, dur, iterations, offset, ratio, delay, func)
  .{name}
    animation: unquote(name) dur linear infinite
  @keyframes {name}
    0%
      func(0)
    {delay * 1%}
      func(offset)
    for num in (1..(iterations - 1))
      value = (offset) * (ratio ** (num - 1)) * (-1 ** (num))
      {(delay + num * (100 - delay) / iterations) * 1%}
        func(value)
    100%
      func(0)
