//- module

rush(name, dur, rate, offset_near, offset_far, direction, percent_in, percent_out, skew)
  .{name}
    animation: unquote(name) 1s linear infinite
  @keyframes {name}
    0%
      transform: translate(-1 * direction * offset_far, 0 ) skewX( direction * skew )
      timing-speed-down(rate)
    {percent_in * .37}
      transform: translate( 1 * direction * offset_near, 0)  skewX( -0.78 * direction * skew )
    {percent_in * .56}
      transform: translate( -0.5 * direction * offset_near, 0)  skewX( 0.34 * direction * skew )
    {percent_in * .75}
      transform: translate( 0.25 * direction * offset_near, 0) skew( -0.17 * direction * skew )
    {percent_in * 1}
      transform: translate( 0, 0 ) skew(0deg)
    {percent_out * 1}
      transform: translate( 0, 0 ) skew(0deg)
    100%
      transform: translate(direction * offset_far, 0) skewX( direction * skew )
