@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-blink)
  0%
    opacity: 1
  49%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 0

.ld.ld-blink
  animation(ld-blink 1s infinite linear)

