@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-blur)
  0%
    filter: blur(0)
  50%
    filter: blur(5px)
  100%
    filter: blur(0)

.ld.ld-blur
  animation(ld-blur 1s infinite)
