@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-bounce-a-px)
  0%, 25%, 50%, 75%, 100%
    animation-timing-function: cubic-bezier(0,.4,.6,1)
  12.5%, 37.5%, 62.5%, 87.5%
    animation-timing-function: cubic-bezier(.4,0,1,.6)
  0%
    transform: translate(0,0)
  12.5%
    transform: translate(5px,-28px)
  25%
    transform: translate(10px,0)
  37.5%
    transform: translate(5px,-28px)
  50%
    transform: translate(0,0)
  62.5%
    transform: translate(-5px,-28px)
  75%
    transform: translate(-10px,0)
  87.5%
    transform: translate(-5px,-28px)
  100%
    transform: translate(0,0)

.ld.ld-bounce-a-px
  animation(ld-bounce-a-px 2s infinite)

