@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-bounce-px-rtl)
  0%
    transform: translate(80px, -20px)
  12.5%
    transform: translate(60px, -12px)
  25%
    transform: translate(40px, 0)
  37.5%
    transform: translate(25px, -12px)
  50%
    transform: translate(0, -20px)
  62.5%
    transform: translate(-25px, -12px)
  75%
    transform: translate(-40px, 0)
  87.5%
    transform: translate(-60px, -12px)
  100%
    transform: translate(-80px, -20px)

.ld.ld-bounce-px-rtl
  animation(ld-bounce-px-rtl 1s infinite linear)
