@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-breath)
  0%
    transform(scale(0.86))
  50%
    transform(scale(1.06))
  100%
    transform(scale(0.86))

.ld.ld-breath
  animation(ld-breath 1s infinite)
