@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-broadcast)
  0%
    box-shadow: 0 0 0 3px rgba(0,0,0,0.9)
  19%
    box-shadow: 0 0 0 2px rgba(0,0,0,0.7)
  20%
    box-shadow: 0 0 0 6px rgba(0,0,0,0.8)
  39%
    box-shadow: 0 0 0 5px rgba(0,0,0,0.6)
  40%
    box-shadow: 0 0 0 9px rgba(0,0,0,0.7)
  60%
    box-shadow: 0 0 0 8px rgba(0,0,0,0.6)
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  100%
    box-shadow: 0 0 0 0px rgba(0,0,0,0.2)

.ld.ld-broadcast
  animation(ld-broadcast 1s infinite ease-out)
  border-radius: 50%
