@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-coin-v)
  0%, 100%
    animation-timing-function: cubic-bezier(.5,0,1,.5)
  50%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: rotateX(0deg)
  50%
    transform: rotateX(1800deg)
  100%
    transform: rotateX(3600deg)

.ld.ld-coin-v
  animation(ld-coin-v 2s infinite)
