@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-cycle)
  0%, 50%, 100%
    animation-timing-function: cubic-bezier(.5,.5,.5,.5)
  0%
    transform: rotate(0)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)

.ld.ld-cycle
  animation(ld-cycle 1s infinite linear)
