@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-flip)
  0%, 25%, 50%, 75%, 100%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: rotateY(0deg) rotateX(0deg)
  25%
    transform: rotateY(180deg) rotateX(0deg)
  50%
    transform: rotateY(180deg) rotateX(180deg)
  75%
    transform: rotateY(0deg) rotateX(180deg)
  100%
    transform: rotateY(0deg) rotateX(0deg)

.ld.ld-flip
  animation(ld-flip 2s infinite)
