@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-flip-v)
  0%, 25%, 50%, 75%, 100%
    animation-timing-function: cubic-bezier(0,.5,0.5,1)
  0%
    transform: rotateX(0deg) rotateY(0deg)
  50%
    transform: rotateX(180deg) rotateY(0deg)
  100%
    transform: rotateX(0deg) rotateY(0deg)

.ld.ld-flip-v
  animation(ld-flip-v 1s infinite)
