@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-heartbeat)
  0%
    transform: scale(1.05)
  5%
    transform: scale(1.25)
  39%
    transform: scale(0.90)
  45%
    transform: scale(1.15)
  60%
    transform: scale(1.05)
  100%
    transform: scale(1.00)

.ld.ld-heartbeat
  animation(ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1))
