@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-jelly-px)
  0%, 16.6%, 33.3%,50%,66.6%,83.3%
    animation-timing-function: cubic-bezier(0,.5,.5,1)
  0%
    transform: translate(0,0) skewX(0deg)
  16.6%
    transform: translate(-30px,0) skewX(30deg)
  33.3%
    transform: translate(25px,0) skewX(-20deg)
  50%
    transform: translate(-12px,0) skewX(10deg)
  66.6%
    transform: translate(6px,0) skewX(-5deg)
  83.3%
    transform: translate(-2.5px,0) skewX(2deg)
  100%
    transform: translate(0,0) skewX(0deg)

.ld.ld-jelly-px
  animation(ld-jelly-px 1s infinite linear)
