@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-jingle)
  0%
    transform: translate(0,-40px) rotate(0deg) translate(0,40px)
  4%
    transform: translate(0,-40px) rotate(11deg) translate(0,40px)
  10%
    transform: translate(0,-40px) rotate(15deg) translate(0,40px)
  18%
    transform: translate(0,-40px) rotate(-11deg) translate(0,40px)
  20%
    transform: translate(0,-40px) rotate(-13deg) translate(0,40px)
  21%
    transform: translate(0,-40px) rotate(-12deg) translate(0,40px)
  22%
    transform: translate(0,-40px) rotate(-10deg) translate(0,40px)
  24%
    transform: translate(0,-40px) rotate(-5deg) translate(0,40px)
  26%
    transform: translate(0,-40px) rotate(3deg) translate(0,40px)
  28%
    transform: translate(0,-40px) rotate(9deg) translate(0,40px)
  30%
    transform: translate(0,-40px) rotate(10deg) translate(0,40px)
  31%
    transform: translate(0,-40px) rotate(9deg) translate(0,40px)
  33%
    transform: translate(0,-40px) rotate(5deg) translate(0,40px)
  34%
    transform: translate(0,-40px) rotate(1deg) translate(0,40px)
  36%
    transform: translate(0,-40px) rotate(-5deg) translate(0,40px)
  39%
    transform: translate(0,-40px) rotate(-8deg) translate(0,40px)
  40%
    transform: translate(0,-40px) rotate(-7deg) translate(0,40px)
  44%
    transform: translate(0,-40px) rotate(3deg) translate(0,40px)
  47%
    transform: translate(0,-40px) rotate(7deg) translate(0,40px)
  56%
    transform: translate(0,-40px) rotate(-5deg) translate(0,40px)
  63%
    transform: translate(0,-40px) rotate(1deg) translate(0,40px)
  75%
    transform: translate(0,-40px) rotate(-1deg) translate(0,40px)
  100%
    transform: translate(0,-40px) rotate(0deg) translate(0,40px)

.ld.ld-jingle
  animation(ld-jingle 1s infinite)

