@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-jingle)
  0%
    transform: translate(0,-40%) rotate(0deg) translate(0,40%)
  4%
    transform: translate(0,-40%) rotate(11deg) translate(0,40%)
  10%
    transform: translate(0,-40%) rotate(15deg) translate(0,40%)
  18%
    transform: translate(0,-40%) rotate(-11deg) translate(0,40%)
  20%
    transform: translate(0,-40%) rotate(-13deg) translate(0,40%)
  21%
    transform: translate(0,-40%) rotate(-12deg) translate(0,40%)
  22%
    transform: translate(0,-40%) rotate(-10deg) translate(0,40%)
  24%
    transform: translate(0,-40%) rotate(-5deg) translate(0,40%)
  26%
    transform: translate(0,-40%) rotate(3deg) translate(0,40%)
  28%
    transform: translate(0,-40%) rotate(9deg) translate(0,40%)
  30%
    transform: translate(0,-40%) rotate(10deg) translate(0,40%)
  31%
    transform: translate(0,-40%) rotate(9deg) translate(0,40%)
  33%
    transform: translate(0,-40%) rotate(5deg) translate(0,40%)
  34%
    transform: translate(0,-40%) rotate(1deg) translate(0,40%)
  36%
    transform: translate(0,-40%) rotate(-5deg) translate(0,40%)
  39%
    transform: translate(0,-40%) rotate(-8deg) translate(0,40%)
  40%
    transform: translate(0,-40%) rotate(-7deg) translate(0,40%)
  44%
    transform: translate(0,-40%) rotate(3deg) translate(0,40%)
  47%
    transform: translate(0,-40%) rotate(7deg) translate(0,40%)
  56%
    transform: translate(0,-40%) rotate(-5deg) translate(0,40%)
  63%
    transform: translate(0,-40%) rotate(1deg) translate(0,40%)
  75%
    transform: translate(0,-40%) rotate(-1deg) translate(0,40%)
  100%
    transform: translate(0,-40%) rotate(0deg) translate(0,40%)

.ld.ld-jingle
  animation(ld-jingle 1s infinite)

