@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-jump-px)
  0%, 28%, 48%, 64%, 76%, 86%, 93%, 100%
    animation-timing-function: ease-out
  14%, 38%, 56%, 70%, 81%, 90%, 97%
    animation-timing-function: ease-in
  0%
    transform: translateY(0px)
  14%
    transform: translateY(-27px)
  28%
    transform: translateY(0px)
  38%
    transform: translateY(-20px)
  48%
    transform: translateY(0px)
  56%
    transform: translateY(-16px)
  64%
    transform: translateY(0px)
  70%
    transform: translateY(-12px)
  76%
    transform: translateY(0px)
  81%
    transform: translateY(-7.5px)
  86%
    transform: translateY(0px)
  90%
    transform: translateY(-3px)
  93%
    transform: translateY(0px)
  97%
    transform: translateY(-1.5px)
  100%
    transform: translateY(0px)

.ld.ld-jump-px
  animation(ld-jump-px 1.5s ease-in infinite)

