@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-orbit-px)
  0%
    transform: translate(30px,0) rotate(0deg)
  12.5%
    transform: translate(21px,21px) rotate(45deg)
  25%
    transform: translate(0,30px) rotate(90deg)
  37.5%
    transform: translate(-21px,21px) rotate(135deg)
  50%
    transform: translate(-30px,0) rotate(180deg)
  62.5%
    transform: translate(-21px,-21px) rotate(225deg)
  75%
    transform: translate(0,-30px) rotate(270deg)
  87.5%
    transform: translate(21px,-21px) rotate(315deg)
  100%
    transform: translate(30px,0) rotate(360deg)

.ld.ld-orbit-px
  animation(ld-orbit-px 1s infinite linear)
