@import '../../vars.styl'
@import '../../basic.styl'

dy = 100px

+keyframes(ld-slot-px)
  0%
    transform: translate(0,-1 * dy)
  9.09%
    transform: translate(0,1 * dy)
  9.1%
    transform: translate(0,-1 * dy)
  16.99%
    transform: translate(0,1 * dy)
  17%
    transform: translate(0,-1 * dy)
  23.79%
    transform: translate(0,1 * dy)
  23.8%
    transform: translate(0,-1 * dy)
  29.59%
    transform: translate(0,1 * dy)
  29.6%
    transform: translate(0,-1 * dy)
  34.49%
    transform: translate(0,1 * dy)
  34.5%
    transform: translate(0,-1 * dy)
  38.49%
    transform: translate(0,1 * dy)
  38.5%
    transform: translate(0,-1 * dy)
  41.79%
    transform: translate(0,1 * dy)
  41.8%
    transform: translate(0,-1 * dy)
  44.39%
    transform: translate(0,1 * dy)
  44.4%
    transform: translate(0,-1 * dy)
  46.29%
    transform: translate(0,1 * dy)
  46.3%
    transform: translate(0,-1 * dy)
  47.79%
    transform: translate(0,1 * dy)
  47.8%
    transform: translate(0,-1 * dy)
  48.79%
    transform: translate(0,1 * dy)
  48.8%
    transform: translate(0,-1 * dy)
  49.39%
    transform: translate(0,1 * dy)
  49.4%
    transform: translate(0,-1 * dy)
  49.79%
    transform: translate(0,1 * dy)
  49.8%
    transform: translate(0,-1 * dy)
  49.99%
    transform: translate(0,1 * dy)
  50%
    transform: translate(0,-1 * dy)
  49.99%
    transform: translate(0,1 * dy)
  50%
    transform: translate(0,-1 * dy)
  49.99%
    transform: translate(0,1 * dy)
  50%
    transform: translate(0,-1 * dy)
  49.99%
    transform: translate(0,1 * dy)
  50%
    transform: translate(0,-1 * dy)
  50.190000000000005%
    transform: translate(0,1 * dy)
  50.2%
    transform: translate(0,-1 * dy)
  50.59%
    transform: translate(0,1 * dy)
  50.6%
    transform: translate(0,-1 * dy)
  51.190000000000005%
    transform: translate(0,1 * dy)
  51.2%
    transform: translate(0,-1 * dy)
  52.190000000000005%
    transform: translate(0,1 * dy)
  52.2%
    transform: translate(0,-1 * dy)
  53.690000000000005%
    transform: translate(0,1 * dy)
  53.7%
    transform: translate(0,-1 * dy)
  55.59%
    transform: translate(0,1 * dy)
  55.6%
    transform: translate(0,-1 * dy)
  58.190000000000005%
    transform: translate(0,1 * dy)
  58.2%
    transform: translate(0,-1 * dy)
  61.49%
    transform: translate(0,1 * dy)
  61.5%
    transform: translate(0,-1 * dy)
  65.49%
    transform: translate(0,1 * dy)
  65.5%
    transform: translate(0,-1 * dy)
  70.39%
    transform: translate(0,1 * dy)
  70.4%
    transform: translate(0,-1 * dy)
  76.19%
    transform: translate(0,1 * dy)
  76.2%
    transform: translate(0,-1 * dy)
  82.99%
    transform: translate(0,1 * dy)
  83%
    transform: translate(0,-1 * dy)
  90.89%
    transform: translate(0,1 * dy)
  90.9%
    transform: translate(0,-1 * dy)
  99.99%
    transform: translate(0,1 * dy)
  100%
    transform: translate(0,-1 * dy)

.ld.ld-slot-px
  animation(ld-slot-px 6s infinite linear)
