@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-squeeze)
  0%
    transform: scale(1,0.5)
  50%
    transform: scale(0.5,1)
  100%
    transform: scale(1,0.5)

.ld.ld-squeeze
  animation(ld-squeeze 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1))
