@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-tick)
  0%
    transform: rotate(0)
  20%
    transform: rotate(-30deg)
  30%
    transform: rotate(30deg)
  40%
    transform: rotate(-21deg)
  50%
    transform: rotate(15deg)
  60%
    transform: rotate(-10deg)
  70%
    transform: rotate(6deg)
  80%
    transform: rotate(-2deg)
  90%
    transform: rotate(1deg)
  100%
    transform: rotate(0deg)

.ld.ld-tick
  animation(ld-tick 1s ease-out infinite)
