@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-vortex-out)
  0%
    transform: rotate(0deg) scale(0)
    opacity: 1
  60%
    transform: rotate(1800deg) scale(1)
    opacity: 1
  100%
    transform: rotate(1800deg) scale(1)
    opacity: 0

.ld.ld-vortex-out
  animation(ld-vortex-out 2s infinite)
  animation-timing-function: cubic-bezier(.5,0,1,.5)
