@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-vortex-in)
  0%
    transform: rotate(1800deg) scale(3)
    opacity: 0
  60%
    transform: rotate(0deg) scale(1)
    opacity: 1
  100%
    opacity: 0

.ld.ld-vortex-in
  animation(ld-vortex-in 2s infinite)
  animation-timing-function: cubic-bezier(.3,0,1,.7)
