@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-wander-v)
  0%
    transform: translate(0,-35%)
  50%
    transform: translate(0,35%)
  100%
    transform: translate(0,-35%)
.ld.ld-wander-v
  animation(ld-wander-v 1s infinite ease-out)


