@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-wander-h)
  0%
    transform: translate(-35%,0)
  50%
    transform: translate(35%,0)
  100%
    transform: translate(-35%,0)

.ld.ld-wander-h
  animation(ld-wander-h 1s infinite ease-out)
