@import '../../vars.styl'
@import '../../basic.styl'

+keyframes(ld-wander-px-h)
  0%
    transform: translate(-35px,0)
  50%
    transform: translate(35px,0)
  100%
    transform: translate(-35px,0)

.ld.ld-wander-px-h
  animation(ld-wander-px-h 1s infinite ease-out)

