timing-step(rate)
  animation-timing-function: cubic-bezier(rate,0,1 - rate,1)

timing-speed-down(rate)
  animation-timing-function: cubic-bezier(0,rate,1 - rate,1)

timing-speed-up(rate)
  animation-timing-function: cubic-bezier(rate,0,1,1 - rate)
