.block
  width: 160px
  height: 160px
  background: #eee
  padding: 42px

.item
  width: 100px
  height: 100px
  border-radius: 50%
  background: #f00
  border: 20px solid #fff
  border-color: transparent
  border-top-color: #fff
