doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="editor.css")
    script(type='text/javascript',src="lib/stylus.js")
  body
    .block
      .item.ld-spin
    .config
      .name accelerate
      input(type="text",data-config="accelerate")
    .config
      .name cycle
      input(type="text",data-config="cycle")
    .config
      .name dur
      input(type="text",data-config="dur")
    script(type='text/javascript',src="editor.js")

