//- module
patrol(name, dur, rate, max, func)
  .{name}
    animation: unquote(name) dur linear infinite
  @keyframes {name}
    0%,50%,100%
      timing-step(rate)
    0%
      func(-1 * max)
    50%
      func(1 * max)
    100%
      func(-1 * max)
