vendors = official webkit

keyframes(name)
  @keyframes {name}
    {block}

transition()
  -webkit-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  transform arguments

transform-origin()
  -webkit-transform-origin arguments
  transform-origin arguments

animation()
  -webkit-animation arguments
  animation arguments

animation-duration()
  -webkit-animation-duration arguments
  animation-duration arguments

animation-direction()
  -webkit-animation-direction arguments
  animation-direction arguments

animation-delay()
  -webkit-animation-delay arguments
  animation-delay arguments

animation-play-state()
  -webkit-animation-play-state arguments
  animation-play-state arguments

no-selection()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

flexbox()
  display: -webkit-flex
  display: flex

flex-wrap(arg)
  -webkit-flex-wrap: arg
  flex-wrap: arg

flex(arg)
  -webkit-flex: arg
  flex: arg

centered()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
