types = ld-ball ld-ring ld-hourglass ld-loader ld-cross ld-square ld-pie ld-spinner

list = '.' + types[0]
for type in types
  push(list, '.' + type)

shapeCls = join(',',list)

{shapeCls}
  width: 1em
  height: 1em
  position: relative
  color: inherit
  display: inline-block
  &:after
    position: absolute
    margin: auto
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: " "
    display: inline-block
    background: center center no-repeat
    background-size: cover

.ld-ball:after
  border-radius: 50%
  background: currentColor

.ld-pie:after
  width: 0
  height: 0
  border-radius: 50%
  border-style: solid
  border-width: .5em
  -webkit-background-clip: padding-box
  border-color: currentColor currentColor currentColor transparent

.ld-ring:after
  border-radius: 50%
  border-style: solid
  border-width: .15em
  -webkit-background-clip: padding-box
  border-color: currentColor currentColor currentColor transparent
  box-sizing: border-box

.ld-hourglass:after
  width: 0
  height: 0
  background: none
  border-radius: 50%
  border-style: solid
  border-width: .5em
  border-color: currentColor transparent currentColor transparent

.ld-cross:after
  width: 18%
  height: 18%
  background: currentColor
  box-shadow: 0 .18em 0 1px currentColor, 0 -.18em 0 1px currentColor, .18em 0 0 1px currentColor, -.18em 0 0 1px currentColor, 0 .36em 0 1px currentColor, 0 -.36em 0 1px currentColor, .36em 0 0 1px currentColor, -.36em 0 0 1px currentColor

.ld-square:after
  width: 90%
  height: 90%
  background: currentColor

.ld-spinner:after
  width: 20%
  height: 20%
  border-radius: 50%
  background: none
  box-shadow: unquote(join(',',
    '0 0.5em 0 0 currentColor',
    '0 -.5em 0 0 currentColor',
    '.5em 0 0 0 currentColor',
    '-.5em 0 0 0 currentColor',
    '.35355339059327373em .35355339059327373em 0 0 currentColor',
    '-.35355339059327373em .35355339059327373em 0 0 currentColor',
    '.35355339059327373em -.35355339059327373em 0 0 currentColor',
    '-.35355339059327373em -.35355339059327373em 0 0 currentColor'
  ))

.ld-loader
  background-size: cover
